/* Start of reset css */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
small,
strong,
ul,
li,
table,
caption,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* End of reset css */

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 42px;
  z-index: 1;
  background-color: #fff;
  border-bottom: #e2e2e2 solid 1px;
}

nav .burger_icon {
  padding-left: 19px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

nav .search_icon {
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

nav .topic a {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
}

nav .nav_logo {
  width: 195px;
  margin: 7px auto 0;
}

nav .nav_buttons {
  padding-right: 30px;
  padding-left: 30px;
}

nav .nav_buttons button {
  padding: 12px 15px 6px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  vertical-align: middle;
  background-color: #6288a5;
  border: #326891 solid 1px;
}

nav .nav_buttons button:hover {
  background-color: #326891;
}

nav .nav_button2 {
  margin-left: 3px;
}

body {
  width: 100%;
  line-height: 1;
}

main {
  display: block;
  width: 75em;
  padding-top: 2.8125em;
  margin: auto;
}

.header2 {
  display: inline-block;
}

.test,
.header_info {
  width: 50%;
  margin: 2.8em auto 0;
}

.title span {
  color: #121212;
  font-family: georgia, 'times new roman', times, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2.25em;
  line-height: 1.3em;
  max-width: 20%;
}

.header_picture img {
  max-width: 75em;
  padding-top: 1.5em;
}

.header_picture figcaption,
.cosmos2 figcaption,
.video figcaption {
  padding-top: 0.5em;
  width: 72%;
  margin-right: 100px;
  color: #666;
  font-family:  georgia, 'times new roman', times, serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: 0.4px;
}

.header_picture figcaption span,
.cosmos2 figcaption span,
.video span {
  color: #888;
  text-align: baseline;
  font-size: 0.9em;
  letter-spacing: 0.1px;
}

.header_info {
  display: block;
  height: 4.125em;
}

.author_date {
  display: block;
  float: left;
  width: 50%;
  height: 50px;
}

.header_info .author_date a {
  text-decoration: none;
  color: inherit;
}

.header_info .author_date span {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  color: #333;
  display: inline-block;
  padding: auto 30px;
}

.author_date time {
  display: block;
  margin-top: 22px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;329
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.icons {
  display: inline-block;
  float: right;
  position: relative;
  top: 1.95em;
  margin-bottom: 0;
  height: auto;
  align-items: baseline;
  width: 38.5%;
}

.social_icons {
  display: inline-block;
}

.comments_icons {
  display: inline-block;
  float: right;
}

.social_icons svg {
  display: inline-block;
  vertical-align: bottom;
  background-color: #eee;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
  margin: 5px 5px;
}

.comments_icons svg {
  display: inline-block;
}

.comments_icons .login {
  width: 40px;
  height: 24px;
  stroke: none;
  vertical-align: top;
  margin-top: 6px;
}

.comments_icons .comment_number {
  width: 30px;
  height: 28px;
  margin-top: 4px;
}

.left_div {
  float: left;
  height: 500px;
  width: 8em;
}

aside {
  float: right;
  height: 500px;
  width: 8em;
}

article {
  text-align:center;
}

article .adjusted_content {
  text-align: center;
  display: inline-block;
  width: 78.5%;
}

.content {
  display:inline-block;
  width: 37.5em;
  margin: 1em auto;
}

.content p {
  text-align: left;
  font-size: 1.20rem;
  line-height: 1.875rem;
  color: #333;
  letter-spacing: -0.03em;
}

.section_inflation {
  margin-top: 25px;
  position: relative;
  width: 100%;
  height: 710px;
  margin-bottom: 1.875em;
}

.theory {
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;
}

.theory h2 {
  font-size: 20px
}

.theory p {
  font-size: 15px;
  line-height: 17px;
  color: #666;
}

.inflation_cont {
  height: 700px;
  width: 59.0625em;
  overflow: hidden;
  position: relative;
}

.inflation_cont img {
  max-width: 100%;
  height: auto;
}

.inflation_cont .row {
  display: flex;
  max-width: 100%;
}

.inflation_cont .row:nth-of-type(1) {
  position: absolute;
  top: 21%;
}

.inflation_cont .row:nth-of-type(2) {
  position: absolute;
  bottom: 24%;
}

.inflation_cont .row p {
  margin: 0 20px;
  color: #000;
}

.inflation_cont .row > p {
  margin-left: 0;
}

.inflation_cont .row p:last-child {
  margin-right: 0;
}

.inflation_cont p {
  text-align: left;
  line-height: 15px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: .01em;
}

.sub_title {
  font-weight: 600;
  padding-right: 11px;
}

.pic_author hr {
  border: none;
  height: 0.7px;
  width: 6%;
  background: #464646;
}

.pic_author p {
  display: flex;
  text-align: left;
  align-items: flex-start;
  font-family: arial,helvetica,sans-serif;
  font-weight: 500;
  color: #333;
}

iframe {
  width: 100%;
  height: 22em;
}

.video figcaption {
  width: inherit;
  text-align: left;
  font-size: 0.9375em;
  line-height: 1.25em;
}

.cosmos2 figcaption {
  margin-left: 12%;
  text-align: left;
  font-size: 0.9375em;
  line-height: 1.25em;
}

.cosmos2 img {
  width: 76%;
}
