/*Start of reset css */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
small,
strong,
ul,
li,
table,
caption,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*End of reset css */

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 42px;

  z-index: 1;
  background-color: #fff;
  border-bottom: #e2e2e2 solid 1px;
}
nav .burger_icon {
  padding-left: 19px;
  display: inline-block;
  height: 16px;
  width: 16px;

}

nav .search_icon {
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  height: 16px;
  width: 16px;

}

nav .topic a {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  line-height: 19px;
  color: #000;
  text-decoration: none;

}

nav .nav_logo {
  width: 195px;
  margin: 7px auto 0;
}

nav .nav_buttons {
  padding-right: 30px;
  padding-left: 30px;
}

nav .nav_buttons button {
  padding: 12px 15px 6px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica,arial,sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  vertical-align: middle;
  background-color: #6288a5;
  border: #326891 solid 1px;
}

nav .nav_buttons button:hover{
  background-color: #326891;
}

nav .nav_button2 {
  margin-left: 3px;
}

body{
  width: 100%;
}

main{
  display: block;
  width: 1200px;
  background-color: blue;
  padding-top: 45px;
  margin: auto;

}
.header2{
  width: 100%;
}

.header2 .title span{
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
  max-width: 20%;
}
