/* Start of reset css */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
small,
strong,
ul,
li,
table,
caption,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* End of reset css */

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 42px;
  z-index: 1;
  background-color: #fff;
  border-bottom: #e2e2e2 solid 1px;
}

nav .burger_icon {
  padding-left: 19px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

nav .search_icon {
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  height: 16px;
  width: 16px;
}

nav .nav_logo {
  width: 195px;
  margin: 7px auto 0;
}

nav .nav_buttons {
  padding-right: 30px;
  padding-left: 30px;
}

nav .nav_buttons button {
  padding: 12px 15px 6px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  vertical-align: middle;
  background-color: #6288a5;
  border: #326891 solid 1px;
}

nav .nav_buttons button:hover {
  background-color: #326891;
}

nav .nav_button2 {
  margin-left: 3px;
}

body {
  width: 100%;
  line-height: 1;
}

main {
  display: block;
  width: 75em;
  padding-top: 2.8125em;
  margin: auto;
}

.header2 {
  display: inline-block;
}

.header2 .title,
.header2 .header_info {
  width: 50%;
  margin: 2.8em auto 0;
}

.header2 .title span {
  color: #121212;
  font-family: georgia, 'times new roman', times, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2.25em;
  line-height: 1.3em;
  max-width: 20%;
}

article .editors_pick img {
  display: inline-block;
  width: 4.75em;
  height: auto;
  vertical-align: top;
}

.header2 .header_picture img {
  max-width: 75em;
  padding-top: 1.5em;
}

figcaption {
  padding-top: 0.5em;
  width: 72%;
  margin-right: 100px;
  color: #666;
  font-family: georgia, 'times new roman', times, serif;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: 0.4px;
}

figcaption span {
  color: #888;
  text-align: baseline;
  font-size: 0.9em;
  letter-spacing: 0.1px;
}

.header2 .header_info {
  display: block;
  height: 4.125em;
}

.header2 .author_date {
  display: block;
  float: left;
  width: 50%;
  height: 50px;
}

nav .topic a {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
}

article .editors_pick a {
  display: inline-block;
  width: 8.37em;
  font-family: "times new roman";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #333;
  text-decoration: none;
}

article .editors_pick a:hover {
  text-decoration: underline;
}

article .adjusted_content p a {
  text-decoration: underline;
  color: #326891;
}

article .adjusted_content p a:hover {
  text-decoration: none;
  color: #326891;
}

article .internal_footer h4 a {
  color: inherit;
  text-decoration: none;
}

article .internal_footer h4 a:hover {
  color: inherit;
  text-decoration: underline;
}

.header2 .header_info .author_date a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

.header2 .header_info .author_date a:hover {
  text-decoration: none;
  border-bottom: 1px #ccc;
  color: inherit;
}

.header2 .author_date span {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  color: #333;
  display: inline-block;
  padding: auto 30px;
}

.header2 .author_date time {
  display: block;
  margin-top: 22px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.header2 .icons {
  display: inline-block;
  float: right;
  position: relative;
  top: 1.95em;
  margin-bottom: 0;
  height: auto;
  align-items: baseline;
  width: 38.5%;
}

.social_icons {
  display: inline-block;
}

.social_icons svg {
  display: inline-block;
  vertical-align: bottom;
  background-color: #eee;
  border-radius: 100%;
  padding: 5px;
  width: 13px;
  height: 13px;
  margin: 5px 5px;
  border: solid 1.5px #eee;
}

.social_icons svg:hover {
  background-color: #fff;
  border: solid 1.5px #eee;
}

.header2 .comments_icons {
  display: inline-block;
  float: right;
}

.header2 .comments_icons svg {
  display: inline-block;
}

.header2 .comments_icons .login {
  width: 40px;
  height: 24px;
  stroke: none;
  vertical-align: top;
  margin-top: 6px;
}

.header2 .comments_icons .comment_number {
  width: 30px;
  height: 28px;
  margin-top: 4px;
}

article {
  text-align: center;
}

article .left_div {
  float: left;
  height: 500px;
  width: 8em;
}

article .adjusted_content {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 78.5%;
}

article .content {
  display: inline-block;
  width: 37.5em;
  margin: 1em auto;
}

article .content p {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #333;
  letter-spacing: -0.04em;
  font-weight: 200;
  margin-bottom: 1em;
}

article .adjusted_content h2 {
  text-align: left;
  margin-bottom: 1em;
  font-weight: 700;
}

article .signup_aside p {
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125em;
  line-height: 1rem;
  color: #666;
  margin: 0.6em 0;
}

article .adjusted_content .section_inflation {
  margin-top: 25px;
  position: relative;
  width: 100%;
  height: 710px;
  margin-bottom: 1.875em;
}

article .adjusted_content .theory {
  text-align: left;
  line-height: 20px;
  margin-bottom: 20px;
}

article .editors_pick h2 {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

article .adjusted_content .theory h2 {
  font-size: 20px;
}

article .adjusted_content .theory p {
  font-size: 15px;
  line-height: 17px;
  color: #666;
}

article .adjusted_content .inflation_cont {
  height: 700px;
  width: 59.0625em;
  overflow: hidden;
  position: relative;
}

article .adjusted_content .inflation_cont p {
  text-align: left;
  line-height: 15px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
}

article .adjusted_content .inflation_cont img {
  max-width: 100%;
  height: auto;
}

article .adjusted_content .pic_author p {
  display: flex;
  text-align: left;
  align-items: flex-start;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  color: #333;
}

article .adjusted_content .inflation_cont .row {
  display: flex;
  max-width: 100%;
}

article .adjusted_content .inflation_cont .row:nth-of-type(1) {
  position: absolute;
  top: 21%;
}

article .adjusted_content .inflation_cont .row:nth-of-type(2) {
  position: absolute;
  bottom: 23%;
}

article .adjusted_content .inflation_cont .row p {
  margin: 0 20px;
  color: #000;
}

article .adjusted_content .inflation_cont .row > p {
  margin-left: 0;
}

article .adjusted_content .inflation_cont .row p:last-child {
  margin-right: 0;
}

article .adjusted_content .sub_title {
  font-weight: 600;
  padding-right: 11px;
}

article .adjusted_content .pic_author hr {
  border: none;
  height: 0.7px;
  width: 6%;
  background: #464646;
}

article .adjusted_content iframe {
  width: 100%;
  height: 22em;
}

article .adjusted_content .video {
  margin-bottom: 2.5em;
}

article .adjusted_content .video figcaption {
  width: inherit;
  text-align: left;
  font-size: 0.9375em;
  line-height: 1.25em;
}

article .adjusted_content .cosmos2 figcaption {
  margin-left: 12%;
  text-align: left;
  font-size: 0.9375em;
  line-height: 1.25em;
}

article .adjusted_content .cosmos2 img {
  width: 76%;
}

article .internal_footer {
  display: block;
  position: relative;
  height: 7em;
}

article .internal_footer h4 {
  display: block;
  width: 100%;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.68rem;
  line-height: 1rem;
  margin: 0 auto 1em;
  color: #999;
  font-weight: lighter;
  text-align: left;
  height: 4em;
}

article .internal_footer .nav_buttons {
  display: inline-block;
  position: relative;
  float: left;
}

article .internal_footer .nav_buttons .btn_footer {
  padding: 12px 100px 6px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  background-color: #6288a5;
  border: #326891 solid 1px;
}

article .internal_footer .nav_buttons button:hover {
  background-color: #326891;
}

article .internal_footer .social_icons {
  display: inline-block;
  bottom: 0;
  float: right;
}

article .signup_aside {
  display: block;
  position: absolute;
  z-index: 1;
  top: 155%;
  left: 85em;
  height: 10.125em;
  width: 11.25em;
  text-align: left;
}

article .signup_aside h1 {
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000;
  font-size: 1em;
  line-height: 1.5em;
}

article .signup_aside .btn_signup {
  padding: 10px 15px 8px;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  vertical-align: middle;
  background-color: #6288a5;
  border: #326891 solid 1px;
}

article .editors_pick {
  display: block;
  position: absolute;
  z-index: 2;
  top: 237%;
  left: 84em;
  height: 20em;
  width: 20em;
  text-align: left;
}

article .editors_pick .block {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
}
